@import "../../../styles/media";

.date {
  &:global {
    &.ant-skeleton.ant-skeleton-element {
      width: 350px;
      max-width: 100%;
      height: 16px;

      .ant-skeleton-input {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.card {
  &:global {
    &.ant-skeleton.ant-skeleton-element {
      .ant-skeleton-image {
        width: 100%;
        height: 125px;

        @include media(md) {
          height: 142px;
        }

        @include media(lg) {
          height: 160px;
        }
      }
    }
  }
}
