.menu {
  :global {
    .ant-menu-overflow-item-rest.ant-menu-submenu-selected {
      padding: 0;
      background-color: inherit;
      transition:none;

      &::after {
        content: none;
      }

      &:hover {
        background-color: inherit;
      }
    }
  }
}
