@use "src/styles/mixins";

.title {
  text-align: center;
}

.result {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  max-width: 928px;
  padding: 15px;
  margin-inline: auto;
  border-bottom: 1px solid #666;

  &:last-child {
    border-bottom: none;
  }

  @include mixins.media(md) {
    padding: 15px 30px;
    font-size: 18px;
  }
}

.cityLabel {
  font-size: 20px;
}
