@import "src/styles/media";

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.block {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
}

.technology {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px 30px;
  margin-inline: auto;
  text-align: center;
  border-bottom: 1px solid #666;

  &:last-child {
    border-bottom: none;
  }

  @include media(md) {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap:16px;
    max-width: 688px;
    text-align: left;
  }
}
